.title-label {
    -fx-padding: 1em 0 0.5em 0;
    -fx-font-size: 6em;
    -fx-font-family: "Impact";
    -fx-text-fill:  rgb(90, 170, 170) 0%;
    /* -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 5, 5); */
}

.center-pane {
    -fx-padding: 1em 3em 3em 3em;
    -fx-vgap: 1.7em;
    -fx-border-color: #606060;
    -fx-border-width: 0 0 0 0.083em;
}

.key-box {
    -fx-pref-width: 16em;
    -fx-pref-height: 3em;
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-font-size: 2em;
    -fx-font-family: "Arial Black";
    -fx-border-color: #555555;
    -fx-border-width: 0.18em;
    -fx-border-radius: 0.8em;
    -fx-background-radius: 0.8em;
    -fx-padding: 0 1em 0 1em;
    -fx-spacing: 5em;
}

.key-label {
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
    -fx-font-family: "System Bold";
}

.key-binding-button {
    -fx-background-color: #333333;
    -fx-border-color: #555555;
    -fx-border-width: 0.18em;
    -fx-border-radius: 0.8em;
    -fx-background-radius: 0.8em;
    
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
    -fx-font-family: "System Bold";
    -fx-pref-height: 2.5em;
    -fx-pref-width: 16em;
}

.key-binding-button:hover {
    -fx-cursor: hand;
    -fx-background-color: #4CAF50;
}

/* 키 입력 대기 상태를 위한 스타일 */
.key-binding-button-waiting {
    -fx-text-fill: #FFD700;
    -fx-font-style: italic;
    -fx-background-color: #444444;
}