.title-label {
    -fx-font-size: 6.5em;
    -fx-font-family: "Impact";
    -fx-text-fill:  rgb(90, 170, 170) 0%;
}

.center-box {
    -fx-margin: 0 1em 0em 1em;
    -fx-spacing: 1.5em;
}

.sound-box {
    -fx-spacing: 1.5em;
    -fx-padding: 0 1em 0 4em;
}

.radio-box {
    -fx-spacing: 1.5em;
    -fx-padding: 0 1em 0 4em;
}

.setting-label {
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
    -fx-font-family: "System Bold";
}

.radio-label {
    -fx-text-fill: white;
    -fx-font-size: 1em;
    -fx-font-family: "System";
}

.sound-slider {
    -fx-pref-width: 16em;
}